@use '/src/scss/base/config'as con;
@use '/src/scss/base/functions'as fun;
@use '/src/scss/base/mixins'as mix;

.loader {
  position: fixed;
  inset: 0;
  z-index: 9;
  background-color: con.$blueDark;
  display: flex;
  align-items: center;
  justify-content: center;

  &__icon {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;

    &:before,
    &:after {
      border-radius: 50%;
      content: "";
      display: block;
      height: 20px;
      width: 20px;
    }
    &:before {
        animation: ball1 1s infinite;
        background-color: con.$white;
        box-shadow: 30px 0 0 con.$yellowDark;
        margin-bottom: 10px;
      }
      &:after {
        animation: ball2 1s infinite;
        background-color: con.$yellowDark;
        box-shadow: 30px 0 0 con.$white;
      }
  }
}

@keyframes rotate {
    0% { transform: rotate(0deg) scale(0.8) }
    50% { transform: rotate(360deg) scale(1.2) }
    100% { transform: rotate(720deg) scale(0.8) }
  }

  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 con.$yellowDark;
    }
    50% {
      box-shadow: 0 0 0 con.$yellowDark;
      margin-bottom: 0;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 con.$yellowDark;
      margin-bottom: 10px;
    }
  }

  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 con.$white;
    }
    50% {
      box-shadow: 0 0 0 con.$white;
      margin-top: -20px;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 con.$white;
      margin-top: 0;
    }
  }
