// VARIABLES GENERALS

$baseFont: 16;

// VARIABLES COLORS

$black: #000000;
$blueDark : #0A2647;
$blueMedium: #144272;
$blueMediuml: #205295;
$blueLight: #205295;
$white: #ffffff;
$gray: #cccccc;
$yellow: #deb217;
$yellowMedium: #c59b08;
$yellowDark: #ffc700;
