@use '/src/scss/base/config' as con; 
@use '/src/scss/base/functions' as fun; 
@use '/src/scss/base/mixins' as mix;

header{
    .container{
        padding: fun.toRem(25) 0;
        border-bottom: 1px solid con.$blueDark;
    }
    .logo{
        display: inline-block;
        cursor: pointer;
        h1{
            color: con.$blueDark;
        }
    }
}